@import "./variables.scss";

.advantages {
  min-height: 562px;
  padding: 112px var(--side-offset);

  background-color: $color-solitude;
  background-image: url("../img/backgrounds/bg-image-advantages-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-width: $vp-1023) {
    @include retina {
      background-image: url("../img/backgrounds/bg-image-advantages-desktop@2x.jpg");
    }
  }

  @media (max-width: $vp-1023) {
    min-height: 588px;
    padding: 90px var(--side-offset);

    background-image: url("../img/backgrounds/bg-image-advantages-tablet.jpg");

    @include retina {
      background-image: url("../img/backgrounds/bg-image-advantages-tablet@2x.jpg");
    }
  }

  @media (max-width: $vp-767) {
    min-height: auto;
    padding: 56px var(--side-offset) 64px;

    background-image: url("../img/backgrounds/bg-image-advantages-mobile.jpg");

    @include retina {
      background-image: url("../img/backgrounds/bg-image-advantages-mobile@2x.jpg");
    }
  }
}

.advantages h2,
.advantages__heading {
  margin: 0;
  padding-bottom: 50px;

  font-variation-settings: "wght" 600;
  font-size: 28px;
  line-height: 42px;
  color: $color-default-black;
  text-align: center;

  cursor: default;

  @media (max-width: $vp-1023) {
    font-size: 26px;
    line-height: 39px;
  }

  @media (max-width: $vp-767) {
    padding-bottom: 32px;

    font-size: 24px;
    line-height: 36px;
  }
}

.advantages__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
  gap: 40px;

  margin: 0;
  padding-left: 0;

  list-style: none;

  @media (max-width: $vp-1023) {
    gap: 30px;
  }

  @media (max-width: $vp-767) {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
}

.advantages__item {
  padding: 30px 30px 49px 30px;

  background-color: $color-default-white;

  &:hover {
    background-color: $color-default-black;
  }

  @media (max-width: $vp-1023) {
    padding: 25px 20px 23px;

    &--first {
      padding-right: 16px;
    }
  }

  @media (max-width: $vp-767) {
    min-height: 249px;

    &--first {
      padding-right: 20px;
    }
  }
}

.advantages__icon {
  @media (max-width: $vp-1023) {
    &--cruiser {
      width: 21px;
      height: 26px;
    }

    &--double-check {
      width: 27px;
      height: 26px;
    }

    &--boat {
      width: 36px;
      height: 26px;
    }
  }
}

.advantages__item:hover .advantages__icon {
  fill: $color-default-white;
}

.advantages__list h3,
.advantages__item-title {
  margin: 0;
  padding: 11px 0 7px;

  font-variation-settings: "wght" 500;
  font-size: 18px;
  line-height: 27px;
  color: $color-default-black;

  cursor: default;

  @media (max-width: $vp-1023) {
    padding: 11px 0;

    font-size: 18px;
    line-height: 25.2px;
  }

  @media (max-width: $vp-767) {
    padding: 11px 0 10px;
  }
}

.advantages__item:hover .advantages__item-title {
  color: $color-default-white;
}

.advantages__list p,
.advantages__item-description {
  margin: 0;

  font-variation-settings: "wght" 400;
  font-size: 14px;
  line-height: 19.6px;
  color: $color-default-black;

  cursor: default;
}

.advantages__item:hover .advantages__item-description {
  color: $color-default-white;
}
