@import "./variables.scss";

.booking {
  min-height: 555px;

  background-color: $color-solitude;
  background-image: url("../img/backgrounds/bg-image-booking-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-width: $vp-1023) {
    @include retina {
      background-image: url("../img/backgrounds/bg-image-booking-desktop@2x.jpg");
    }
  }

  @media (max-width: $vp-1023) {
    min-height: 805px;

    background-image: url("../img/backgrounds/bg-image-booking-tablet.jpg");

    @include retina {
      background-image: url("../img/backgrounds/bg-image-booking-tablet@2x.jpg");
    }
  }

  @media (max-width: $vp-767) {
    min-height: 760px;

    background-image: url("../img/backgrounds/bg-image-booking-mobile.jpg");

    @include retina {
      background-image: url("../img/backgrounds/bg-image-booking-mobile@2x.jpg");
    }
  }
}

.booking__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 30px;

  max-width: 1366px;
  margin: 0 auto;
  padding: 50px 163px;

  @media (max-width: $vp-1023) {
    flex-direction: column;
    align-items: center;
    gap: 0;

    padding: 100px 45px;
  }

  @media (max-width: $vp-767) {
    padding: 65px 15px;
  }
}

.booking__container {
  align-self: center;

  @media (max-width: $vp-1023) {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 60px;

    @media (max-width: $vp-767) {
      margin-bottom: 40px;
    }
  }
}

.booking__container h3,
.booking__heading {
  &--h3 {
    margin: 0;
    padding-bottom: 20px;

    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: $color-default-black;

    @media (max-width: $vp-1023) {
      font-size: 34px;
      line-height: 51px;
      text-align: center;
    }

    @media (max-width: $vp-767) {
      font-size: 24px;
      line-height: 31.2px;
    }
  }
}

.booking__container p,
.booking__text-context {
  max-width: 450px;
  margin: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: $color-default-black;

  @media (max-width: $vp-1023) {
    max-width: 403px;

    text-align: center;
  }

  @media (max-width: $vp-767) {
    max-width: 260px;

    font-size: 16px;
    line-height: 22.4px;
    word-break: keep-all;
  }
}

.booking__form-container {
  width: 38.75%;

  @media (max-width: $vp-1023) {
    width: auto;
  }
}
