@import "./variables.scss";

.booking-form {
  display: flex;
  flex-direction: column;

  max-width: 403px;
  min-height: 455px;
  padding: 50px 50px;

  background-color: $color-default-black;

  @media (max-width: $vp-767) {
    padding: 40px 30px;
  }
}

.booking-form h3,
.booking-form__heading {
  margin: 0;
  padding-bottom: 30px;

  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: $color-default-white;

  cursor: default;

  @media (max-width: $vp-767) {
    text-align: center;
  }
}

.booking-form__name input,
.booking-form__phone input,
.booking-form__email input {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  padding: 11px 16px;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $color-default-black;

  background-color: $color-default-white;
  border: none;

  &::placeholder {
    color: rgba($color-default-black, 0.7);
  }
}

.booking-form__checkbox {
  display: flex;

  margin-bottom: 25px;
}

.booking-form__checkbox label {
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: $color-default-white;

  @media (max-width: $vp-767) {
    line-height: 12px;
  }
}

.booking-form__checkbox input {
  display: flex;
  justify-self: center;
  align-self: center;
}

.booking-form__button button {
  display: inline-flex;
  justify-content: center;

  width: 100%;
  padding: 11px 24px;

  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: $color-default-black;

  background-color: $color-default-white;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
