@import "./variables.scss";

.booking {
  display: flex;
  justify-content: space-between;
  gap: 30px;

  min-height: 555px;
  padding: 50px var(--side-offset);

  background-color: $color-solitude;
  background-image: url("../img/backgrounds/bg-image-booking-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-width: $vp-1023) {
    @include retina {
      background-image: url("../img/backgrounds/bg-image-booking-desktop@2x.jpg");
    }
  }

  @media (max-width: $vp-1023) {
    flex-direction: column;
    align-items: center;
    gap: 0;

    min-height: 805px;
    padding: 87px var(--side-offset) 100px;

    background-image: url("../img/backgrounds/bg-image-booking-tablet.jpg");

    @include retina {
      background-image: url("../img/backgrounds/bg-image-booking-tablet@2x.jpg");
    }
  }

  @media (max-width: $vp-767) {
    min-height: 760px;
    padding: 60px var(--side-offset) 65px;

    background-image: url("../img/backgrounds/bg-image-booking-mobile.jpg");

    @include retina {
      background-image: url("../img/backgrounds/bg-image-booking-mobile@2x.jpg");
    }
  }
}

.booking__container {
  align-self: center;

  margin: 0 0 10px 60px;

  @media (max-width: $vp-1023) {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 52px;

    @media (max-width: $vp-767) {
      margin-bottom: 35px;
    }
  }
}

.booking__container h3,
.booking__heading {
  &--h3 {
    margin: 0;
    padding-bottom: 7px;

    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: $color-default-black;

    cursor: default;

    @media (max-width: $vp-1023) {
      padding-bottom: 5px;

      font-size: 34px;
      line-height: 51px;
      text-align: center;
    }

    @media (max-width: $vp-767) {
      padding-bottom: 11px;

      font-size: 24px;
      line-height: 31.2px;
    }
  }
}

.booking__container p,
.booking__text-context {
  max-width: 450px;
  margin: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: $color-default-black;

  cursor: default;

  @media (max-width: $vp-1023) {
    max-width: 403px;

    text-align: center;
  }

  @media (max-width: $vp-767) {
    max-width: 260px;

    font-size: 16px;
    line-height: 22.4px;

    word-break: keep-all;
  }
}

.booking__form-container {
  max-width: 403px;
  min-width: 300px;
  width: 38.75%;
  margin-right: 60px;

  @media (max-width: $vp-1023) {
    width: auto;
  }

  @media (max-width: $vp-767) {
    min-width: 290px;
  }
}
