.btn {
  display: inline-flex;
  padding: 10px 24px;

  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: $color-default-black;

  background-color: $color-default-white;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  // &--red {
  //   background-color: ;
  // }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
