@import "./variables.scss";

.contacts__wrapper {
  display: flex;
  align-items: center;
  gap: 8.5%;

  max-width: 1366px;
  margin: 0 auto;
  padding: 120px 103px;

  background-color: $color-default-white;

  @media (max-width: $vp-1023) {
    gap: 5%;

    padding: 100px 45px;
  }

  @media (max-width: $vp-767) {
    flex-direction: column;
    gap: 0;

    padding: 65px 15px;
  }
}

.contacts__map-wrapper {
  width: 48.3%;

  @media (max-width: $vp-1023) {
    width: 47.5%;
  }

  @media (max-width: $vp-767) {
    order: 2;

    width: auto;
  }
}

.contacts__container {
  width: 43.1%;

  @media (max-width: $vp-1023) {
    width: 47.5%;
  }

  @media (max-width: $vp-767) {
    order: 1;

    width: 100%;
  }
}

.contacts__promo-text {
  margin: 0;
  padding-bottom: 35px;

  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: $color-default-black;
}

.contacts__list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (max-width: $vp-767) {
    padding-bottom: 38px;
  }
}

.contacts__address {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;

    width: 18px;
    height: 22px;

    background-image: url("../img/sprite/icon-pin.svg");
    background-repeat: no-repeat;
  }
}

.contacts__phone {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;

    width: 18px;
    height: 18px;

    background-image: url("../img/sprite/icon-phone.svg");
    background-repeat: no-repeat;
  }
}

.contacts__address-text,
.contacts__phone-link {
  display: block;

  margin: 0;
  margin-left: 28px;
  padding: 0;

  font-style: normal;
  color: $color-default-black;
}

.contacts__address-text {
  padding-bottom: 23px;
}
