@import "./variables.scss";

.contacts__wrapper {
  display: flex;
  align-items: center;
  gap: 8%;

  max-width: 1366px;
  margin: 0 auto;
  padding: 120px 103px;

  background-color: $color-default-white;

  // @media (max-width: $vp-1023) {
  //   display: grid;
  //   grid-template-columns: 1fr 1fr;
  //   gap: 25px;

  //   padding: 100px 45px;
  // }

  // @media (max-width: $vp-767) {
  //   grid-template-columns: 100%;

  //   padding: 65px 15px 85px 15px;
  // }
}

.contacts__promo-text {
  margin: 0;
  padding-bottom: 35px;

  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: $color-default-black;
}

.contacts__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.contacts__address {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;

    width: 18px;
    height: 22px;

    background-image: url("../img/sprite/icon-pin.svg");
    background-repeat: no-repeat;
  }
}

.contacts__phone {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;

    width: 18px;
    height: 18px;

    background-image: url("../img/sprite/icon-phone.svg");
    background-repeat: no-repeat;
  }
}

.contacts__address-text,
.contacts__phone-link {
  margin: 0;
  margin-left: 28px;
  padding: 0;

  font-style: normal;
  color: $color-default-black;
}

.contacts__address-text {
  padding-bottom: 23px;
}

