@import "./variables.scss";

.cruises__wrapper {
  max-width: 1366px;
  margin: 0 auto;
  padding: 85px 118px 120px 118px;

  @media (max-width: $vp-1023) {
    padding: 90px 60px 99px;
  }

  @media (max-width: $vp-767) {
    padding: 65px 25px;
  }
}

.cruises__heading {
  margin: 0;
  padding-bottom: 50px;

  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: $color-default-black;
  text-align: center;

  cursor: default;

  @media (max-width: $vp-1023) {
    font-size: 26px;
    line-height: 39px;
  }

  @media (max-width: $vp-767) {
    padding-bottom: 30px;

    font-size: 24px;
    line-height: 36px;
  }
}

.cruises__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;

  margin: 0 auto;
  padding-left: 0;

  list-style: none;

  @media (max-width: $vp-1023) {
    grid-template-columns: repeat(2, 1fr);

    max-width: 100%;
  }

  @media (max-width: $vp-767) {
    grid-template-columns: repeat(1, 1fr);

    max-width: 100%;
  }
}

.cruises__item {
  position: relative;

  height: 386px;
}

.cruises__item:hover {
  &::before {
    content: "";
    position: absolute;

    width: 100%;
    height: 100%;

    background-color: $color-default-black;
  }
}

.cruises__article {
  height: 100%;
}

.cruises__article-image {
  position: absolute;
  z-index: -1;

  width: 100%;
  height: 100%;

  object-fit: cover;
}

.cruises__article-container {
  display: flex;
  flex-direction: column;

  height: 100%;
  padding: 30px 30px 24px;

  @media (max-width: $vp-1023) {
    padding: 29px 35px;
  }

  @media (max-width: $vp-767) {
    padding: 25px 25px;
  }
}

.cruises__item:hover .cruises__article-container {
  align-items: flex-start;

  padding: 27px 25px 35px 25px;

  // transition: $trans-default;

  @media (max-width: $vp-1023) {
    padding: 28px 35px 35px;
  }

  @media (max-width: $vp-767) {
    padding: 35px 25px;
  }
}

.cruises__article-heading {
  position: static;

  margin: 0;
  margin-top: auto;

  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: $color-default-white;

  cursor: default;
}

.cruises__item:hover .cruises__article-info {
  z-index: 0;
  display: flex;
  flex-direction: column;

  width: 100%;
}

.cruises__article-info {
  display: none;

  height: 100%;
  margin: 0;
  padding: 5px 0 30px 0;

  word-break: break-word;
  overflow-y: auto;

  @media (max-width: $vp-1023) {
    padding: 4px 0 30px 0;
  }
}

.cruises__article-info dt {
  padding-top: 10px;

  font-weight: 500;
  font-size: 14px;
  line-height: 19.5px;
  color: $color-default-white;

  cursor: default;

  @media (max-width: $vp-1023) {
    padding-top: 12px;
  }
}

.cruises__article-info dd {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 19.5px;
  color: $color-quartz;

  cursor: default;
}

.cruises__item:hover .cruises__article-heading {
  position: relative;
}

.cruises__article-container .cruises__article-booking-btn {
  display: none;
  justify-content: center;

  width: 100%;
  margin-top: auto;

  text-align: center;
  word-break: break-all;
}

.cruises__item:hover .cruises__article-booking-btn {
  z-index: 1;

  display: block;
}
