@import "./variables.scss";

.cruises__wrapper {
  max-width: 1366px;
  margin: 0 auto;
  padding: 95px 103px 120px 103px;

  @media (max-width: $vp-1023) {
    padding: 100px 45px;
  }

  @media (max-width: $vp-767) {
    padding: 65px 15px;
  }
}

.cruises__heading {
  margin: 0;
  padding-bottom: 50px;

  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: $color-default-black;
  text-align: center;

  cursor: default;
}

.cruises__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;

  margin: 0;
  padding-left: 0;

  list-style: none;

  @media (max-width: $vp-1023) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: $vp-767) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.cruises__item {
  position: relative;

  max-width: 260px;
  min-height: 386px;
}

.cruises__item:hover {
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: $color-default-black;
  }
}

.cruises__article {
  height: 100%;
}

.cruises__image {
  position: absolute;

  z-index: -1;
}

.cruises__article-container {
  display: flex;
  align-items: flex-end;

  height: 100%;
}

.cruises__item:hover .cruises__article-container {
  align-items: flex-start;
}

.cruises__article-heading {
  position: static;

  margin: 0;

  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: $color-default-white;

  // z-index: 0;
}

.cruises__info-container {
  display: none;
}

.cruises__item:hover .cruises__info-container {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.cruises__info dt {
  font-weight: 500;
  font-size: 14px;
  line-height: 19.5px;
  color: $color-default-white;
}

.cruises__info dd {
  font-weight: 400;
  font-size: 14px;
  line-height: 19.5px;
  color: $color-quartz;
}

.cruises__item:hover .cruises__article-heading {
  position: absolute;

  // z-index: 0;
}

