
@import "./variables.scss";

.footer-nav__list {
  display: grid;
  grid-template-columns: 21% 19% 30% 16%;
  align-items: center;
  column-gap: 33px;
  row-gap: 23px;

  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;

  @media (max-width: $vp-1023) {
    grid-template-columns: 23% 20% 31% 15%;
    column-gap: 21px;
    row-gap: 18px;
  }

  @media (max-width: $vp-767) {
    grid-template-columns: 1fr;
    column-gap: 15px;
    row-gap: 10px;

    margin-bottom: 20px;
  }
}

.footer-nav__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 19.5px;
  color: $color-default-white;

  &:hover {
    color: $color-caramel;
  }

  @media (max-width: $vp-1023) {
    font-size: 12px;
    line-height: 14.6px;
  }
}
