
@import "./variables.scss";

.footer-nav__list {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  align-items: center;
  column-gap: 33px;
  row-gap: 23px;

  width: 100%;
  margin: 0;
  padding: 7px 0;

  list-style: none;

  @media (max-width: $vp-1023) {
    column-gap: 21px;
    row-gap: 18px;
  }

  @media (max-width: $vp-767) {
    grid-template-columns: 1fr;
    column-gap: 15px;
    row-gap: 8px;

    margin-bottom: 16px;
    padding: 0;
  }
}

.footer-nav__link {
  font-variation-settings: "wght" 500;
  font-size: 16px;
  line-height: 19.5px;
  color: $color-default-white;

  &:hover {
    color: lighten($color-bahama-blue, 20%);
  }

  @media (max-width: $vp-1023) {
    font-size: 12px;
    line-height: 14.6px;
  }
}
