.header {
  position: absolute;
  z-index: 2;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 35px var(--side-offset, 20px);

  color: $color-default-white;
}

.header__logo {
  color: inherit;
}

.header--no-js .header__toggle,
.header__overlay,
.header__toggle {
  display: none;
}

.header__toggle {
  color: inherit;

  background-color: $color-transparent;
  border: none;
}

@media (max-width: $vp-1023) {
  .header {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}

@media (max-width: $vp-767) {
  .header {
    align-items: stretch;

    padding: 0;

    &--open {
      --left: calc(100% - 285px);
      position: fixed;
      right: 0;
      z-index: 4;

      width: 100%;
      height: 100%;
      padding-left: var(--left);

      color: $color-default-black;

      background-image: $gradient-overlay;
      overflow: auto;
    }
  }

  .header--open .header__overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    display: block;

    width: var(--left, 100%);
    height: 100%;
  }

  .header--open .header__logo {
    position: absolute;
    top: 0;
    left: var(--left);
  }

  .header--open .header__nav {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: #{37 - 25}px;
    align-items: start;
    align-content: start;

    width: 100%;
  }

  .header--open .header__toggle {
    justify-self: end;

    padding-top: 25px;
    padding-bottom: 25px;
  }

  .header--open .header__list,
  .header--no-js .header__list {
    display: grid;
  }

  .header__logo {
    padding: 20px var(--side-offset);
  }

  .header__toggle {
    display: block;

    height: 100%;
    padding: 20px var(--side-offset);

    cursor: pointer;
  }

  .header__toggle:hover svg {
    stroke: lighten($color-bahama-blue, 30%);
  }

  .header--no-js {
    position: static;

    padding: 20px var(--side-offset, 20px);

    color: $color-default-black;
  }

  .header__list {
    display: none;
  }
}

