@import "./variables.scss";

.logo-footer {
  padding-right: 3.7%;

  @media (max-width: $vp-1023) {
    margin-top: 5px;
    padding-right: 3.6%;
  }

  @media (max-width: $vp-767) {
    padding-right: 0;
    padding-bottom: 25px;
  }
}

.logo-footer__link {
  width: 100%;
  height: 100%;
}

.logo-footer__image {
  fill: $color-default-white;

  @media (max-width: $vp-1023) {
    width: 38px;
    height: 20px;
  }

  @media (max-width: $vp-767) {
    width: 42px;
    height: 20px;
  }
}
