@import "./variables.scss";

.logo-header__image {
  @media (max-width: $vp-1023) {
    width: 38px;
    height: 20px;
  }

  @media (max-width: $vp-767) {
    width: 42px;
    height: 22px;
  }
}

.main-nav--open .logo-header__image,
.main-nav--nojs .logo-header__image {
  @media (max-width: $vp-767) {
    z-index: 1;

    display: block;

    fill: $color-default-black;
  }
}
