@import "./variables.scss";

.main-header {
  position: absolute;
  z-index: 2;

  display: flex;
  align-items: center;

  width: 100%;
  padding: 35px var(--side-offset);

  background-color: $color-transparent;

  @media (max-width: $vp-1023) {
    padding: 30px var(--side-offset);
  }

  @media (max-width: $vp-767) {
    padding: 20px var(--side-offset);
  }
}

.main-nav--nojs .main-header__wrapper {
  @media (max-width: $vp-767) {
    display: block;
  }
}

.main-header__logo-wrapper {
  display: flex;
  align-self: flex-start;

  margin-right: auto;

  @media (max-width: $vp-1023) {
    margin-right: auto;
  }
}

.main-nav--nojs .main-header__logo-wrapper {
  @media (max-width: $vp-767) {
    padding-left: 15.5%;
  }
}

.main-header__logo {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
}

.logo-header__image {
  fill: $color-default-white;
}
