.main-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 33px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__link {
  display: grid;
  align-items: center;
  align-content: center;

  color: inherit;
}

@media (max-width: $vp-767) {
  .main-nav {
    grid-auto-rows: 40px;
  }

  .main-nav__link {
    height: 100%;
    padding: 0 var(--side-offset, 20px);
  }
}
