@import "./variables.scss";

.main-header {
  width: 100%;
  padding: 35px 0 35px 0;

  background-color: $color-transparent;
  z-index: 2;

  @media (max-width: $vp-1023) {
    padding: 30px 0 30px 0;
  }

  @media (max-width: $vp-767) {
    padding: 20px 0 20px 0;
  }
}

.main-header__wrapper {
  display: flex;
  align-items: center;

  max-width: 1366px;
  margin: 0 auto;
  padding: 0 103px;

  @media (max-width: $vp-1023) {
    padding: 0 45px;
  }

  @media (max-width: $vp-767) {
    padding: 0 15px;
  }
}

.main-nav--nojs .main-header__wrapper {
  @media (max-width: $vp-767) {
    display: block;
  }
}

.main-header__logo-wrapper {
  margin-right: auto;

  @media (max-width: $vp-1023) {
    margin-right: auto;
  }
}

.main-nav--nojs .main-header__logo-wrapper {
  @media (max-width: $vp-767) {
    padding-left: 15.5%;
  }
}

.main-header__logo {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
}

.logo-header__image {
  fill: $color-default-white;
}
