@import "./variables.scss";

.main-footer {
  background-color: $color-default-black;
}

.main-footer__wrapper {
  display: flex;
  align-items: center;

  max-width: 1366px;
  min-height: 138px;
  margin: 0 auto;
  padding: 0 103px;

  background-color: $color-default-black;

  @media (max-width: $vp-1023) {
    min-height: 120px;
    padding: 0 45px;
  }

  @media (max-width: $vp-767) {
    flex-direction: column;
    align-items: flex-start;

    min-height: 283px;
    padding: 40px 15px;
  }
}

.main-footer__social-wrapper {
  margin-left: auto;

  @media (max-width: $vp-767) {
    margin-left: 0;
    margin-right: auto;
  }
}
