@import "./variables.scss";

.main-footer {
  display: flex;
  align-items: center;

  min-height: 138px;
  width: 100%;
  padding: 25px var(--side-offset);

  background-color: $color-default-black;

  @media (max-width: $vp-1023) {
    min-height: 120px;
    padding: 0 var(--side-offset);
  }

  @media (max-width: $vp-767) {
    flex-direction: column;
    align-items: flex-start;

    min-height: 283px;
    padding: 36px var(--side-offset) 40px;
  }
}

.main-footer__social-wrapper {
  display: flex;

  margin-left: auto;

  @media (max-width: $vp-767) {
    margin-left: 0;
    margin-right: auto;
  }
}
