@import "./variables.scss";

.main {
  min-height: 658px;
  padding: 269px var(--side-offset) 191px;

  @include adaptive-bg("../img/backgrounds/bg-image-main-desktop");
  background-color: $color-bahama-blue;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0 4px 4px 0 $transparent-black-0-25;

  @media (max-width: $vp-1023) {
    min-height: 638px;
    padding: 269px var(--side-offset) 108px;

    @include adaptive-bg("../img/backgrounds/bg-image-main-tablet");
    box-shadow: none;
  }

  @media (max-width: $vp-767) {
    min-height: 500px;
    padding: 176px var(--side-offset) 45px;

    @include adaptive-bg("../img/backgrounds/bg-image-main-mobile");
  }
}

.main-nav--nojs .main {
  @media (max-width: $vp-767) {
    min-height: 790px;
    margin-top: -290px;
  }
}

.main-nav--nojs .main__wrapper {
  @media (max-width: $vp-767) {
    min-height: 790px;
    padding: 100% 15px 14% 15px;
  }
}

.main__container {
  padding-left: 95px;

  @media (max-width: $vp-1023) {
    padding-left: 0;
  }
}

.main__container h1,
.main__heading {
  margin: 0;
  padding-bottom: 13px;

  font-variation-settings: "wght" 700;
  font-size: 54px;
  line-height: 66px;
  color: $color-default-white;

  cursor: default;

  @media (max-width: $vp-1023) {
    padding-bottom: 10px;

    font-size: 50px;
    line-height: 61px;
  }

  @media (max-width: $vp-767) {
    font-size: 36px;
    line-height: 45px;
  }
}

.main__container p,
.main__text-content {

  margin: 0;
  padding: 0;

  font-variation-settings: "wght" 400;
  font-size: 20px;
  line-height: 24.5px;
  color: $color-default-white;

  cursor: default;

  @media (max-width: $vp-1023) {
    font-size: 18px;
    line-height: 22px;
  }

  @media (max-width: $vp-767) {
    font-size: 16px;
  }
}
