@import "./variables.scss";

.main-nav {
  @media (max-width: $vp-767) {
    &--open {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;

        width: 89.1%;
        height: 100vh;

        background-color: $color-default-white;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;

        width: 10.9%;
        height: 100vh;

        background-color: $transparent-black-0-5;
      }
    }
  }
}

.main-nav__wrapper {
  @media (max-width: $vp-767) {
    position: absolute;
    top: 85px;
  }
}

.main-nav--open .main-nav__wrapper {
  display: block;
}

.main-nav--closed .main-nav__wrapper {
  display: none;
}

.main-nav--nojs .main-nav__wrapper {
  @media (max-width: $vp-767) {
    position: static;

    padding-top: 40px;
    padding-left: 15.5%;

    &::before {
      content: "";
      position: absolute;
      // top: 62px;
      top: 0;
      right: 0;
      z-index: -1;

      width: 89.1%;
      height: 280px;

      background-color: $color-default-white;
    }
  }
}

.main-nav__list {
  display: grid;
  grid-template-columns: 21% 19% 29% 16%;
  gap: 33px;

  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;

  @media (max-width: $vp-1023) {
    grid-template-columns: 23% 20% 30% 15%;
    gap: 23px;
  }

  @media (max-width: $vp-767) {
    display: block;
  }
}

.main-nav--open .main-nav__list {
  @media (max-width: $vp-767) {
    padding-left: 10px;
  }
}

.main-nav--open .main-nav__item,
.main-nav--nojs .main-nav__item {
  @media (max-width: $vp-767) {
    margin-bottom: 23px;
  }
}

.main-nav__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 19.5px;

  @media (max-width: $vp-1023) {
    font-size: 14px;
    line-height: 17px;
  }
}

.main-nav--open .main-nav__link,
.main-nav--nojs .main-nav__link {
  @media (max-width: $vp-767) {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: $color-default-black;
  }
}

.main-nav__toogle {
  display: none;

  @media (max-width: $vp-767) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }
}

.main-nav--nojs .main-nav__toogle {
  display: none;
}

.main-nav__toogle-closed,
.main-nav__toogle-open {
  stroke: $color-default-white;
}

.main-nav--open .main-nav__toogle-closed,
.main-nav--closed .main-nav__toogle-open {
  @media (max-width: $vp-767) {
    display: none;
  }
}

.main-nav--closed .main-nav__toogle-closed {
  @media (max-width: $vp-767) {
    display: block;
  }
}

.main-nav--open .main-nav__toogle-open {
  @media (max-width: $vp-767) {
    z-index: 1;

    display: block;

    stroke: $color-default-black;
    fill: $color-default-black;
  }
}
