.main-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 33px;

  margin: 0;
  padding: 0;

  list-style: none;

  @media (max-width: $vp-1023) {
    gap: 20px 23px;
  }

  @media (max-width: $vp-767) {
    gap: 10px 23px;
  }
}

.main-nav__item {
  @media (max-width: $vp-767) {
    padding: 0 10px;
  }
}

.main-nav__link {
  display: grid;
  align-items: center;
  align-content: center;

  color: inherit;

  &:hover {
    color: lighten($color-bahama-blue, 30%);
  }

  @media (max-width: $vp-1023) {
    font-variation-settings: "wght" 500;
    font-size: 14px;
    line-height: 17px;
  }

  @media (max-width: $vp-767) {
    font-variation-settings: "wght" 500;
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width: $vp-767) {
  .main-nav {
    grid-auto-rows: 40px;
  }

  .main-nav__link {
    height: 100%;
    padding: 0 var(--side-offset, 20px);
  }
}
