@import "./variables.scss";

.main {
  min-height: 650px;
  margin-top: -108px;

  background-color: $color-bahama-blue;
  background-image: url("../img/backgrounds/bg-image-main-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-width: $vp-1023) {
    @include retina {
      background-image: url("../img/backgrounds/bg-image-main-desktop@2x.jpg");
    }
  }

  @media (max-width: $vp-1023) {
    min-height: 638px;
    margin-top: -80px;

    background-image: url("../img/backgrounds/bg-image-main-tablet.jpg");

    @include retina {
      background-image: url("../img/backgrounds/bg-image-main-tablet@2x.jpg");
    }
  }

  @media (max-width: $vp-767) {
    min-height: 500px;
    margin-top: -62px;

    background-image: url("../img/backgrounds/bg-image-main-mobile.jpg");

    @include retina {
      background-image: url("../img/backgrounds/bg-image-main-mobile@2x.jpg");
    }
  }
}

.main__wrapper {
  max-width: 1366px;
  min-height: 650px;
  margin: 0 auto;
  padding: 20% 103px 14% 103px;

  @media (max-width: $vp-1023) {
    min-height: 638px;
    padding: 33% 45px 14% 45px;
  }

  @media (max-width: $vp-767) {
    min-height: 500px;
    padding: 57% 15px 14% 15px;
  }
}

.main__container {
  padding-left: 95px;

  @media (max-width: $vp-1023) {
    padding-left: 0;
  }
}

.main h1,
.main__heading {
  margin: 0;
  padding-bottom: 15px;

  font-weight: 700;
  font-size: 54px;
  line-height: 66px;
  color: $color-default-white;

  cursor: default;

  @media (max-width: $vp-1023) {
    padding-bottom: 10px;

    font-size: 50px;
    line-height: 61px;
  }

  @media (max-width: $vp-767) {
    font-size: 36px;
    line-height: 45px;
  }
}

.main p,
.main__text-content {

  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 20px;
  line-height: 24.5px;
  color: $color-default-white;

  cursor: default;

  @media (max-width: $vp-1023) {
    font-size: 18px;
    line-height: 22px;
  }

  @media (max-width: $vp-767) {
    font-size: 16px;
  }
}

