@import "./variables.scss";

.promo__wrapper {
  display: grid;
  grid-template-columns: 44% 48%;
  gap: 8%;

  max-width: 1366px;
  margin: 0 auto;
  padding: 112px 103px 145px 103px;

  background-color: $color-default-white;

  @media (max-width: $vp-1023) {
    grid-template-columns: 48% 48%;
    gap: 4%;

    padding: 100px 45px;
  }

  @media (max-width: $vp-767) {
    grid-template-columns: 100%;

    padding: 65px 15px 85px 15px;
  }
}

.promo__layout-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 512px;

  @media (max-width: $vp-1023) {
    max-width: 324px;
  }

  @media (max-width: $vp-767) {
    max-width: 100%;
  }
}

.promo__layout-container h2,
.promo__heading {
  margin: 0;
  padding-bottom: 24px;

  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: $color-default-black;

  cursor: default;

  @media (max-width: $vp-1023) {
    font-size: 26px;
    line-height: 36.5px;
  }

  @media (max-width: $vp-767) {
    font-size: 24px;
    line-height: 33.5px;
  }
}

.promo__layout-container p,
.promo__text-content {
  margin: 0;

  cursor: default;
}

.promo__image-wrapper {
  flex-shrink: 0;

  min-width: 324px;
  min-height: 174px;

  @media (max-width: $vp-1023) {
    margin-right: 5px;
  }

  @media (max-width: $vp-767) {
    min-width: auto;
    min-height: auto;
    margin-right: 0;
  }
}

.promo__image {
  width: 100%;

  @media (max-width: $vp-1023) {
    min-width: 324px;
  }

  @media (max-width: $vp-767) {
    min-width: auto;
    width: 100%;
  }
}
