@import "./variables.scss";

.promo {
  display: grid;
  grid-template-columns: 44% 48%;
  gap: 8%;

  padding: 112px var(--side-offset) 145px;

  background-color: $color-transparent;

  @media (max-width: $vp-1023) {
    grid-template-columns: 48% 48%;
    gap: 3.5%;

    padding: 90px var(--side-offset) 94px;
  }

  @media (max-width: $vp-767) {
    grid-template-columns: 100%;
    gap: 0;

    padding: 58px var(--side-offset) 85px;
  }
}

.promo__layout-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 512px;

  @media (max-width: $vp-1023) {
    max-width: 324px;
  }

  @media (max-width: $vp-767) {
    max-width: 100%;
    padding-bottom: 44px;
  }
}

.promo__layout-container h2,
.promo__heading {
  margin: 0;
  padding-bottom: 25px;

  font-variation-settings: "wght" 600;
  font-size: 28px;
  line-height: 42px;
  color: $color-default-black;

  cursor: default;

  @media (max-width: $vp-1023) {
    font-size: 26px;
    line-height: 36.5px;
  }

  @media (max-width: $vp-767) {
    font-size: 24px;
    line-height: 33.5px;
  }
}

.promo__layout-container p,
.promo__text-content {
  margin: 0;

  cursor: default;
}

.promo__image-wrapper {
  flex-shrink: 0;

  min-width: 324px;
  min-height: 174px;

  @media (max-width: $vp-1023) {
    margin: 10px 3px 0 0;
  }

  @media (max-width: $vp-767) {
    min-width: auto;
    min-height: auto;
    margin: 0;
  }
}

.promo__image {
  width: 100%;

  @media (max-width: $vp-1023) {
    min-width: 324px;
  }

  @media (max-width: $vp-767) {
    min-width: auto;
    width: 100%;
  }
}
