@import "./variables.scss";

.social__list {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;

  max-width: 145px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social__item {
  width: 40px;
  height: 40px;

  // margin-left: 7px;

  @media (max-width: $vp-1023) {
    width: 30px;
    height: 30px;

    margin-left: 10px;
  }

  @media (max-width: $vp-767) {
    margin-left: 0;
    margin-right: 10px;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.social__icon {
  fill: $color-default-white;

  @media (max-width: $vp-1023) {
    width: 16px;
    height: 16px;
  }
}

.social__link:hover .social__icon {
  fill: $color-caramel;
}
