// Colors
// ---------------------------------

// Default

$color-default-black:               #011c40;
$color-default-white:               #f9fbfd;
$color-transparent:                 rgba(255, 255, 255, 0);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-bahama-blue:                   #2a5983;
$color-solitude:                      #e3ecf6;
$color-light-sky-blue:                #95c8ff;

// Transparent

// $transparent-white-0-2:             rgba(249, 251, 253, 0.2);
// $transparent-white-0-7:             rgba(249, 251, 253, 0.7);
// $transparent-white-0-8:             rgba(249, 251, 253, 0.8);
// $transparent-black-0-15:            rgba(1, 28, 64, 0.15);
// $transparent-black-0-5:             rgba(1, 28, 64, 0.5);

// Gradient

$black-to-right:                    linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);

// $black-to-bottom-gradient:          linear-gradient(to bottom, $color-default-black 85%, $color-transparent 100%);


// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default:                        16px;


// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-placeholder:                    "Placeholder", "Arial", sans-serif;
$ff-montserrat:                     "Montserrat", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600:                         0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-375:                            375px;
$vp-767:                            767px;
$vp-768:                            768px;
$vp-1023:                           1023px;
$vp-1024:                           1024px;
$vp-1280:                           1280px;
$vp-1440:                           1440px;
$vp-1920:                           1920px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
